<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->


  <!-- <mat-sidenav>

  </mat-sidenav> -->

  <mat-sidenav-container class = "tp-container">
    <mat-sidenav mode = "side" opened>
       <section class = "tp-section">
          <span>File</span>
       </section>
       <section class = "tp-section">
          <span>Edit</span>
       </section>
       <section class = "tp-section">
        <span>home</span>
     </section>
     <section class = "tp-section">
        <span>about</span>
     </section>
    </mat-sidenav>
    <mat-sidenav-content>
        
    </mat-sidenav-content>
 </mat-sidenav-container>