<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->


<!-- <mat-sidenav>

  </mat-sidenav> -->

<mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened>
    <section class="tp-section">
      <span>File</span>
    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
    <section class="tp-section">
      <span>home</span>
    </section>
    <section class="tp-section">
      <span>about</span>
    </section>
    <section class="tp-section">
      <span>home</span>
    </section>
    <section class="tp-section">
      <span>about</span>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <button>suapa yang gogogo coba ya ini</button>
    </div>
    <div class="row">
      <div class="card col-md-4 col-sm-4 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ini case pertama</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" [routerLink]="['/pertama']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-4 col-sm-4 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-4 col-sm-6 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div><div class="card col-md-4 col-sm-6 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div><div class="card col-md-4 col-sm-6 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div><div class="card col-md-4 col-sm-6 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div><div class="card col-md-4 col-sm-6 col-6 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
